@import 'nib'
@css {
  @import url(http://fonts.googleapis.com/css?family=Ubuntu);
}

body
  font-family: "Ubuntu", "Verdana", sans-serif
  font-size: 14px
  margin: 0
  padding: 0
a
  color: blue
  text-decoration: none

.side-panel
  position: fixed
  right: 0
  top: 0
  height: 100%
  width: 260px
  list-style: none
  padding: 5px 15px
  border-left: 2px solid #ddd
  background-color: rgba( #ddd, 0.5 )

.youtube
  width: 260px
  height: 200px

.sheet
  padding: 20px
  margin: 10px
  box-shadow: 0px 10px 15px -10px #000
  height: 10in
  width: 7.5in
  overflow: hidden

.title
  font-weight: bold
  text-align: center
  font-size: 1.6em
  margin: 20px 0 10px

.author
  text-align: center
  margin-bottom: 10px

.song
  width: 100%

.column
  display: inline-block
  vertical-align: top
  width: 50%
  height: 7.5in

.section
  display: block
  width: 50%

.section-title
  font-weight: bold
  color: #f00
  font-size: 1.1em
  margin: 20px 0 10px

.comment
  font-style: italic
  color: #888
  font-size: .8em

.chord
  font-family: monospace
  white-space: pre
  color: #00f
  font-weight: bold

.lyric
  font-family: monospace
  white-space: pre
  font-weight: normal

.set-indicator
  border-bottom: 1px dotted #333
  background-color: #ddd

.set-indicator::after
  content: attr(title)
  position: absolute
  right: 15px

.dark
  background-color: #111
  color: #fff
  .chord
    color: #0ff
  .side-panel
    background-color: rgba( #333, 0.5 )
  a
    color: lightblue
  .set-indicator
    background-color: rgba( #333, 0.8 )

@media print
  .sheet
    padding: 10px
    margin: 0
    box-shadow: none
  .side-panel
    display: none
